In [1]:
#The following is a list of 10 students ages:

ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]

# Sort the list and find the min and max age

ages.sort()

print(ages)

print(min(ages))

print(max(ages))

# Add the min age and the max age again to the list

ages.append(19)
print(ages)

ages.append(26)
print(ages)

#Find the median age (one middle item or two middle items divided by two)

#to access statistics in python.

import statistics
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
print(statistics.median(ages))

#Find the average age (sum of all items divided by their number)

#sum() and len() are built-in functions and can be use to find average in python.

avg = sum(ages)/len(ages)
print("Average",round(avg,2))

#Find the range of the ages (max minus min)

range = max(ages) - min(ages)
print(range)

[19, 19, 20, 22, 24, 24, 24, 25, 25, 26]
19
26
[19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 19]
[19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 19, 26]
24.0
Average 22.8
7

In [149]:
#Create an empty dictionary called dog

dog = {}
print(dog)

#Add name, color, breed, legs, age to the dog dictionary

dog = {'name':'Bruno', 'Color':'Brown', 'Breed':'pug', 'age': 2,'legs': 2}
print(dog)

#Create a student dictionary and add first_name, last_name, gender, age, marital status,skills, country, city and address as keys for the dictionary

student = {'first_name':'Puja', 'last_name':'Vaishya', 'gender':'female', 'age': 25, 'marital status': 'single',
           'skills':'Python', 'country':'USA', 'city':'Warrensburg', 'address': 'Diamonds Club Apartment'}
print(student)

#Get the length of the student dictionary

print(len(student))

#Get the value of skills and check the data type, it should be a list

print(student['skills'])

#Modify the skills values by adding one or two skills

student.update({'skills' : 'Java'})
print(student)

#Get the dictionary keys as a list

print(student.keys())

#Get the dictionary values as a list

print(student.values())

{}
{'name': 'Bruno', 'Color': 'Brown', 'Breed': 'pug', 'age': 2, 'legs': 2}
{'first_name': 'Puja', 'last_name': 'Vaishya', 'gender': 'female', 'age': 25, 'marital status': 'single', 'skills': 'Python', 'country': 'USA', 'city': 'Warrensburg', 'address': 'Diamonds Club Apartment'}
9
Python
{'first_name': 'Puja', 'last_name': 'Vaishya', 'gender': 'female', 'age': 25, 'marital status': 'single', 'skills': 'Java', 'country': 'USA', 'city': 'Warrensburg', 'address': 'Diamonds Club Apartment'}
dict_keys(['first_name', 'last_name', 'gender', 'age', 'marital status', 'skills', 'country', 'city', 'address'])
dict_values(['Puja', 'Vaishya', 'female', 25, 'single', 'Java', 'USA', 'Warrensburg', 'Diamonds Club Apartment'])

In [150]:
#Create a tuple containing names of your sisters and your brothers (imaginary siblings are fine)
Tup1 = ('Amay' , 'Andy')
Tup2 = ('Pranita' , 'Pari')

#Join brothers and sisters tuples and assign it to siblings

Siblings = (Tup1 + Tup2);
print(Siblings)

#How many siblings do you have?

Siblings_1 = len(Siblings)
print(Siblings_1)

#Modify the siblings tuple and add the name of your father and mother and assign it to family_members

Tup3 = ('Adwait' , 'Praniti')
family_members = (Siblings + Tup3);

print(family_members)

('Amay', 'Andy', 'Pranita', 'Pari')
4
('Amay', 'Andy', 'Pranita', 'Pari', 'Adwait', 'Praniti')

In [183]:
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}

A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}

age = [22, 19, 24, 25, 26, 24, 25, 24]

#Find the length of the set it_companies

len(it_companies)

#What is the difference between remove and discard
## remove() method raises an error when the specified element is not exist in the set, but discard() method does not gives error when specified item is not available in the set.

7

In [184]:
#adding Twitter to a set
it_companies.add('Twitter')
print(it_companies)

{'Apple', 'Twitter', 'Oracle', 'IBM', 'Microsoft', 'Amazon', 'Facebook', 'Google'}

In [185]:
#Insert multiple IT companies at once to the set it_companies

it_companies1 = ('Accenture' , 'Dell' , 'Infosys')
it_companies.update(it_companies1)
print(it_companies)

{'Twitter', 'IBM', 'Accenture', 'Google', 'Apple', 'Dell', 'Infosys', 'Microsoft', 'Oracle', 'Amazon', 'Facebook'}

In [186]:
#Remove one of the companies from the set it_companies

it_companies.remove('Dell')
print(it_companies)

{'Twitter', 'IBM', 'Accenture', 'Google', 'Apple', 'Infosys', 'Microsoft', 'Oracle', 'Amazon', 'Facebook'}

In [32]:
#Join A and B
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]
A.update(B)  # update() , union() use to join two sets.
print(A)

#Find A intersection B

print(A.intersection(B))

#Is A subset of B
print(A.issubset(B))

#Are A and B disjoint sets
print(A.isdisjoint(B))

#Join A with B and B with A

print(A.union(B))
print(B.union(A))

#What is the symmetric difference between A and B

print(A.symmetric_difference(B))

#Delete the sets completely
A.clear()
print(A)

B.clear()
print(B)

#Convert the ages to a set and compare the length of the list and the set

print(set(age))

print(len(set(age)) < len(age))

{19, 20, 22, 24, 25, 26, 27, 28}
{19, 20, 22, 24, 25, 26, 27, 28}
True
False
{19, 20, 22, 24, 25, 26, 27, 28}
{19, 20, 22, 24, 25, 26, 27, 28}
set()
set()
set()
{19, 22, 24, 25, 26}
True

In [39]:
#The radius of a circle is 30 meters.

#Calculate the area of a circle and assign the value to a variable name of _area_of_circle_

radius = 30
pi = 3.14
_area_of_circle_ = pi*radius*radius
print(_area_of_circle_)


#Calculate the circumference of a circle and assign the value to a variable name of _circum_of_circle_
_circum_of_circle_ = 2*pi*radius
print(_circum_of_circle_)

#Take radius as user input and calculate the area.

r = input('Enter The Radius:')
r = int(r)
area = pi*r*r
print(area)

2826.0
188.4
Enter The Radius:10
314.0

In [43]:
# “I am a teacher and I love to inspire and teach people”
#How many unique words have been used in the sentence? Use the split methods and set to get the unique words.

sentence = "I am a teacher and I love to inspire and teach people"

print(len(set(sentence.split())))

10

In [44]:
#Use a tab escape sequence to get the following lines.
#Name Age Country City
#Asabeneh 250 Finland Helsinki

line_1 = 'Name\vAge\vCountry\vCity'
line_2 = '\nAsabeneh 250 Finland Helsinki'
print(line_1,line_2)

NameAgeCountryCity
Asabeneh 250 Finland Helsinki

In [46]:
#Use the string formatting method to display the following:
radius = 10
area = 3.14 * radius ** 2
#“The area of a circle with radius 10 is 314 meters square.”

print('radius =', 10)
print('area =', 3.14, '* radius **', 2)  #two * sign means exponent or power
print('The area of a circle with radius', 10, 'is', 314, 'meters square.')

radius = 10
area = 3.14 * radius ** 2
The area of a circle with radius 10 is 314 meters square.

In [3]:
#Write a program, which reads weights (lbs.) of N students into a list and convert these weights to kilograms in a separate list using Loop. N: No of students (Read input from user)kilograms in a separate list using Loop. N: No of students (Read input from user)
#Ex: L1: [150, 155, 145, 148]
#Output: [68.03, 70.3, 65.77, 67.13]

conversionrate = 0.453592     #conversion rate from lbs to kgs is 0.453592
x = int(input('Enter num of students'))

List=[]
for i in range(x):
    List.append(int(input('Enter weight in lbs:')))
    
output = [conversionrate * i for i in List]

print("The list in kilograms is:",output)

Enter num of students2
Enter weight in lbs:134
Enter weight in lbs:156
The list in kilograms is: [60.781328, 70.760352]